div {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.first {
    background-color: salmon;
}

.first:hover {
    background-color: red;
}

.second {
    background-color: goldenrod;
}

.third {
    background-color: burlywood;
    /* transition-property: background, border-radius;
    transition-duration: 3s, 3s;
    transition-delay: 1s; */
    transition: background 3s 1s, border-radius 3s;
}

.third:hover {
    background-color: red;
    border-radius: 50%;
}