/* z-index */
/* .container {
width: 300px;
height: 400px;
border: 2px solid red;
position: relative;
}

.first {
width: 100px;
height: 100px;
background-color: blueviolet;
position: absolute;
top: 0;
left: 0;
z-index: 2;
}

.second {
width: 100px;
height: 100px;
background-color: red;
position: absolute;
top: 50px;
left: 50px;
z-index: -1;
}

.third {
width: 100px;
height: 100px;
background-color: greenyellow;
position: absolute;
top: 70px;
left: 70px;
z-index: 4;
} */
/* gradient */
/* div {
width: 200px;
height: 200px;
background: rgb(218, 215, 17);
background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%);
} */
/* h1 {
text-shadow: 2px 2px 10px rgb(87, 87, 87);
}

div {
background-color: salmon;
width: 100px;
height: 100px;
box-shadow: -10px -10px 5px rgb(245, 168, 159);
margin-left: 10px;
} */
/* 
* {
margin: 0;
padding: 0;
}

body {
text-align: center;
}

.first,
.second,
.third {
background-color: sandybrown;
width: 400px;
margin: 10px auto;
padding: 20px 0;
}

.first {
visibility: hidden;
}

.second {
display: none;
}

.third {
opacity: 0;
} */
/* h1::before {
content: "Hi ";
background-color: blueviolet;
margin-right: 10px;
}

h1::after {
content: "";
width: 100px;
height: 100px;
background: url("./image.jpeg");
display: inline-block;
background-size: cover;
background-position: center;
border-radius: 50%;
position: relative;
top: 40px;
left: 10px;
} */

h1:hover {
    color: red;
    background-color: black;
    font-size: 3rem;
}
/* ul li:nth-child(1) {
    color: blue;
    list-style-type: square;
} */

ul li:nth-child(even) {
    color: blue;
    list-style-type: square;
}

ul li:nth-child(odd) {
    color: blue;
    list-style-type: square;
}

p::first-letter {
    font-size: 4rem;
}

p::first-line {
    color: red;
}